
textarea.code {
    height: 180px;
    width: 180px;
    overflow-y: scroll;
    background-color: rgb(87, 87, 87);
    color: white;
    margin: 4px;
    padding: 0;
    display: inline-block;
    // white-space: pre-wrap;
    overflow-y: auto;
}

h2.task {
    width: 120px;
    display: inline-block;
    padding-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

button.task {
    width: 120px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}



div.grids {
    margin: 4px;
    // width: 362px;
    // height: 180px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}

div.input, div.output {
    display: grid;
    // width: 181px;
    // height: 181px;
    grid-auto-flow: row;
    float: left;
}

div.input {
    // border-right: 1px solid white;
}
div.output {
    border-left: 1px solid white;
}


div.box {
    font-size: 11px;
    font-family: monospace;
    text-align: center;
    outline: 0.5px solid #FFF8;
    vertical-align: middle;
}
